.home-layout {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.home-header {
  background-color: #fff;
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  display: flex;
  justify-content: space-between;
}

.home-main {
  padding: 20px;
}

.device-status-card,
.device-list-card,
.instructions-card {
  margin-bottom: 24px;
}

.error-message-card {
  margin-bottom: 24px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}
